.footer {
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 50%;
  color: #6f6f6f;
}

@media (max-width: 768px) {
  .footer {
    margin-left: 0;
    width: 100%;
    min-height: auto;
  }
}