/* src/styles/components/Button.module.css */
.button {
    padding: 10px 30px;
    background-color: #00a1fc;
    color: #fff;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    text-decoration: none;
    margin: 5px;
  }
  