/* Container principal da página Perfil */
.container {
    display: flex; /* Alinha o menu lateral e o conteúdo principal horizontalmente */
    flex-direction: column; /* Alinha o menu lateral e o conteúdo principal verticalmente */
    align-items: center; /* Alinha o conteúdo no centro */
    justify-content: flex-start; /* Alinha o conteúdo no topo */
    background-color: white; /* Cor de fundo */
    padding: 20px; /* Espaçamento interno */
    border-radius: 20px;    /* Borda arredondada */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Sombra */
    width: calc(100vh - 250px); /* Ajusta a largura para ocupar o espaço disponível, considerando uma margem para o menu lateral */
    max-width: 100%; /* Limita a largura máxima */
    margin: 20px ; /* Centraliza o container horizontalmente */
    height: calc(100vh - 40px); /* Ajusta a altura para ocupar toda a viewport menos o padding do container */
    box-sizing: border-box; /* Garante que o padding e a borda sejam incluídos no cálculo da largura e altura */
  }
  
  /* Se precisar ajustar o tamanho, você pode usar uma largura fixa */

  .container-fixed {
    height: 100vh; /* Ajusta a altura para ocupar toda a viewport */
    width: 100vh; /* Definindo uma largura fixa para melhor controle */
    margin: 20px auto; /* Centraliza o container horizontalmente */
  }
  
  .formGroup {
    width: 100%; /* Ocupa toda a largura disponível */
    margin-bottom: 20px; /* Espaçamento inferior */
  }
  
  h2 {
    margin-top: 20px;   /* Espaçamento superior */
  }
  
  p {
    margin-bottom: 10px;
  }
  
  input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box; /* Garante que o padding e a borda sejam incluídos no cálculo da largura */
  }


  button {
    margin-top: 20px;
  }
  




  .inputGroup label {
    text-align: left; /* Alinha o texto à esquerda */
    display: block; /* altera o display para block que ocupa toda a largura */
    margin-bottom: 0px; /* altera a distância entre os elementos */
    color: #6363639d;
  }
  
  .inputGroup input,
  .inputGroup select {
    width: 100%; /* altera a largura do input */
    padding: 10px; /* altera o padding do input */
    border-radius: 30px; /* altera o raio da borda do input */
    background-color: #fff; /* Alterado para branco */
    border: 1px solid #6363639d; /* Adiciona borda ao input */
    box-sizing: border-box; /* Adicionado para incluir padding e borda no tamanho total */
    margin-top: 0px; /* altera a distância entre os elementos */
  }