.menuLateral {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100vh;
  background-color: #30C5FF;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
}

.logo {
  margin-bottom: 20px;
}

.menuItems {
  list-style-type: none;
  padding: 0;
  margin-bottom: auto;
  margin-top: 50px;
}

.menuItems li {
  margin-bottom: 25px;
}

.menuItems a {
  color: #fff;
  text-decoration: none;
  font-size: 25px;
}

.menuItems a:hover {
  text-decoration: none;
}

