.container {
  display: flex; /* Layout flexível */
  flex-direction: column; /* Layout vertical */
  background-color: white; /* Cor de fundo */
  color: black; /* Cor do texto */
  padding: 20px; /* Espaçamento interno */
  border-radius: 20px; /* Bordas arredondadas */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Sombra */
  margin-left: 200px; /* Espaço reservado para o menu lateral */
  /* box-sizing: border-box; Inclui padding e border na largura e altura */
}

@media (max-width: 768px) {
  /* Estilos para telas menores (responsividade) */
  .container {
    margin-left: 0; /* Remove o espaço do menu lateral em telas pequenas */
    width: 100%; /* Ocupa 100% da largura */
    min-height: auto; /* Altura ajustada automaticamente */
  }
}

p, h3{
  color: black; /* Cor do texto */
}
